name: Renovate dummy-alb1/k8s-test

on:
  push:
    branches: [main]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dynamic renovate.json
        run: |
          cat <<EOF > renovate.json
          {
            "\$schema": "https://docs.renovatebot.com/renovate-schema.json",
            "onboarding": false,
            "enabledManagers": ["kubernetes"],
            "kubernetes": {
              "fileMatch": ["^startsch/startsch\\.yaml$"]
            },
            "packageRules": [
              {
                "matchPackagePatterns": ["*"],
                "enabled": false
              },
              {
                "matchPackageNames": ["ghcr.io/kir-dev/startsch"],
                "enabled": true,
                "pinDigests": true
              }
            ]
          }
          EOF

      - name: Run Renovate on K8s Repo
        uses: renovatebot/github-action@v40.1.0
        with:
          # We point to the config file we created above
          configurationFile: renovate-global.js
          # We tell it specifically to run the bot logic
          renovate-version: latest
          token: ${{ secrets.APT }}
        env:
          # LOG_LEVEL: debug # Uncomment if you need to troubleshoot
          # This forces the token into the context so Renovate can use it
          RENOVATE_TOKEN: ${{ secrets.APT }}
